{% extends './layout.html' %}
{% block title %} index {% endblock %}
{% block head %}
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/iconfont.css">
    
{% endblock  %}
{% block content %}
    <div class="footer">
        <div class="payattention">
            <div class="payattention-content">
                <span>关注我们</span>
                <a href=""><i class="iconfont icon-weibo"  ></i></a>
                <a href=""> <i class="iconfont icon-weixin" ></i></a>
            </div>

        </div>
        <div class="line"></div>
        <div class="shuoming">
            <div class="shuoming-content">
                <a href="" style="left:0;"><span>联系我们</span></a>
                <a href="" style="left:110px;"><span>配送 和 退货</span></a>
                <a href="" style="left:244px;"><span>隐私、条款 和 网站说明</span></a>
                <img src="imgs/index-imgs/brand-icon.png" alt="" class="brand-icon">
            </div>
            <p style="top:30px;">© 2017 La Prairie - 保留所有权利 </p><br>
            <p style="top:50px;">ICP备案号：沪ICP备16012378号</p>
        </div>
    </div>
      
<script src="js/lib/jquery-3.2.1.min (1).js"></script>
<script src="js/header.js"></script>
{% endblock %}


   