{% extends './layout.html' %}
{% block title %} index {% endblock %}
{% block head %}
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/iconfont.css">
    
{% endblock  %}
{% block content %}
<div class="header">
    <div class="header-content">
        <div class="navigation-btn">
            <div class="hengxian"></div>
            <div class="hengxian"></div>
            <div class="hengxian"></div>
            <div class="navigation-menu"><span>MENU</span></div>    
        </div>     
        <div class="navigation-title">
            <span class="laprairie">la prairie</span>
            <span class="SWITZERLAND">SWITZERLAND</span>
        </div>  
        <div class="navigation-logo">
            <a href="javascript:void(0);"><i class="fa fa-commenting-o" ></i></a>
            <a href="javascript:void(0);"><i class="fa fa-search"  ></i></a>
            <a href="javascript:void(0);"><i class="fa fa-user-o" ></i>	</a>
            <a href="javascript:void(0);"><i class="fa fa-shopping-bag" ></i></a>
        </div>         
    </div>
    <div class="zixun">
        <span class="kefudianhua">客服电话：400-853-1616</span>
        <span class="fuwushijian">服务时间：09:00 — 21:00</span>
        <span class="nojiejiari">（国定假日除外）</span>
        <a href=""><input type="button" value="立即咨询"></a>    
    </div>
</div>
<div class="search">
    <div class="search-form">
        <i class="fa fa-search" ></i>
        <input type="text" name="" placeholder="搜索"id="">
        <i class="iconfont icon-close"></i>  
        <div class="baixian"></div>
    </div>
    <span class="quicklianjie">快速链接</span>
    <span class="productxilie"><a href="">产品系列</a></span>
    <span class="hufu"><a href="">护肤</a></span>
</div>

<div class="myaccount">
    <i class="iconfont icon-close"></i>  
    <span class="title">我的账户</span> 
    <span class="content">作为我们的尊享会员，您可以享受轻松便捷的<br>
        结账服务，并在第一时间获悉我们最新的创新<br>
        <p>产品和会员尊享活动。</p></span>
    <a href="" class="button signin">登录</a>
    <a href="" class="button signup">注册</a>
</div>
  
<!-- 侧边栏 -->
<div class="siderbar">
    <i class="iconfont icon-close"></i>  
    <span class="productslists liebiao"><a href="">产品系列</a></span>
    <ul class="dropdown dropdown1">
        <li><a href=""> 产品系列概述 </a></li>
        <li><a href="">臻爱铂金</a></li>
        <li><a href="">鱼子精华</a></li>
        <li><a href="">鱼子精华纯皙</a></li>
        <li><a href="">晶莹亮采系列</a></li>
        <li><a href="">亮颜修护</a></li> 
        <li><a href="">瑞士冰晶新生</a></li>
    </ul>
    <span class="hufu liebiao"><a href="">护肤</a></span>
    <ul class="dropdown dropdown2">
        <li><a href="">面霜</a></li>
        <li><a href="">精华</a></li>
        <li><a href="">眼部和唇部护理</a></li>
        <li><a href="">洁面乳及爽肤水</a></li>
        <li><a href="">面膜及磨砂膏</a></li>
        <li><a href="">特殊护理</a></li>
        <li><a href="">紫外线防护</a></li>
        <li><a href="">身体和手部护理</a></li>
        <li><a href="">我们的终极梦幻系列</a></li>
    </ul>
    <span class="xianlimeixue liebiao"><a href="">献礼美学</a></span>
    <ul class="dropdown dropdown3">
        <li><a href="">臻选礼物</a></li>
    </ul>
    <span class="ourstory liebiao"><a href="">我们的故事</a></span>
    <ul class="dropdown dropdown4">
        <li><a href="">品牌蓝图</a></li>
    </ul>
    <i class="iconfont icon-moreunfold" id="arrow1" aria-hidden="true"></i>
    <i class="iconfont icon-moreunfold"  id="arrow2" aria-hidden="true"></i>
    <i class="iconfont icon-moreunfold"  id="arrow3" aria-hidden="true"></i>
    <i class="iconfont icon-moreunfold"  id="arrow4" aria-hidden="true"></i>

    <div class="info">
        <i class=" fa fa-map-marker"  aria-hidden="true"></i>
        <ul class="zixuninfo">
            <li>
                <a href="">查找附近店铺</a><br>
                <a href="">了解最新品牌资讯</a><br>
                <a href="">追踪订单</a><br>
                <a href="">联系我们</a>
            </li>
        </ul>
        <div class="line"></div>
        <span class="xuanze"><a href="">Select Your Country</a></span> 
    </div> 
</div>
<script src="js/lib/jquery-3.2.1.min (1).js"></script>
<script src="js/header.js"></script>
{% endblock %}
